@using WarehouseManagement.Contracts
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <span class="navbar-brand">Управление складом</span>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <h4 class="navbar-brand" style="font-size: 1.5rem; color: white">Склад</h4>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@Routes.Balances" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Баланс
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@Routes.Receipts">
                <span aria-hidden="true"></span> Поступления
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@Routes.Shipments">
                <span aria-hidden="true"></span> Отгрузки
            </NavLink>
        </div>
    </nav>

    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <h4 class="navbar-brand" style="font-size: 1.5rem; color: white">Справочники</h4>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@Routes.Clients">
                <span aria-hidden="true"></span> Клиенты
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@Routes.Resources">
                <span aria-hidden="true"></span> Ресурсы
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@Routes.Units">
                <span aria-hidden="true"></span> Единицы измерения
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
